.merchandise {
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    background-color: #f0f8ff;
}

.merchandiseHeader {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.merchandiseItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.merchandiseThumbnail {
    width:100%;
    background-color: #f7f7f7;
}

.merchandiseImage {
    display: flex;
    justify-content: center;
}
.merchandiseImage > img {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 0;
}

.productInfo {
    text-align: left;
    padding: 9px 5px 0 1rem;
    min-height: 132px;
    font-size: 1.1rem;

}

.productTitle {
    display: block;
    line-height: 2rem;
    margin-bottom: 1rem;
    min-height: 72px;
    font-family: futura-pt;
}

.productPrice {
    line-height: 1.5rem;
    font-weight: 700;
}

.buttonMore {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.buttonMore > a{
    border: 1px black solid;
    padding: 1rem;
}