/* */
.navigation {
    height: 8rem;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 179, 203, 0.6);
    position: fixed;
    z-index: 100;
    top: 0;
}

.navigation-menu {
    padding-left: 0;
    flex-grow: 1;
    margin-right: 2rem;
}

li {
    display: inline-block;
}

.navigation-menu li div {
    padding: 0 15px;
    font-size: 1rem;
}

/* inherit navigation's height */
.logo {
    height: inherit;
    margin-right: 2rem;
}

/* inherit navigation's height */
.navigation .logo img{
    height: inherit;
}


.searchbar {
    display: flex;
    width: 30rem;
    position: relative;
    align-items: center;
    margin-right: 100px;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin-left: 10px;
}

.search-icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    margin-left: 1rem;
}

.cart-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}

.authentication {
    display: flex;
    list-style-type: none;
}

.button-sign{
    margin-right: 1rem;
    border: 1px solid black;
    padding: 1rem;
}