/* */
.placeholder{
    height: 6rem;
    width: 100%;
    z-index: -100;
}

.hidden {
    position: absolute;
}

.navigation {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 179, 203, 0.7);
    overflow: hidden;
}


.is-nav-scrolled {
    position: fixed;
    top: 0;
    background-color: rgb(255, 179, 203);
    height: 4rem;
    z-index: 100;
    animation: scrollDown 0.3s ease-in 1 forwards;
}

@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navigation-menu {
    padding-left: 0;
    flex-grow: 1;
    margin-right: 2rem;
}

.navigation-menu li {
    display: inline-block;
    padding: 0 15px;
    font-size: 1rem;
}

.navigation-menu li a:hover {
    text-decoration: underline;
    color: #2badde;
}


/* inherit navigation's height */
.logo {
    height: inherit;
    margin-right: 2rem;
}

/* inherit navigation's height */
.navigation .logo a,
.navigation .logo a > img{
    height: inherit;
}


.searchbar {
    display: flex;
    width: 30rem;
    position: relative;
    align-items: center;
    margin-right: 100px;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1.5rem;
    margin-left: 10px;
    text-indent: 20px;
}

.search-icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    margin-left: 1.5rem;
}

.cart-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}

.authentication {
    display: flex;
    list-style-type: none;
}

.button-sign{
    margin-right: 1rem;
    border: 1px solid black;
    padding: 0.625rem;
}

