* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: aliceblue
}

.main-content{
  padding: 0 8rem;
  min-height: 100vh;
  max-width: 2000px;
  margin: auto;
}

/* To avoid other elements being covered by navigation bar */
.navigation-placeholder {
  height: 8rem;
}