* {
  box-sizing: border-box;
}

html {
 font-size: 16px; 
}

body {
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: #d0e9f0;
}

a {
  text-decoration: none;
  color: black;
}

.main-content{
  padding: 0 8rem;
  min-height: 100vh;
  max-width: 2000px;
  margin: auto;
}


.footer {
  margin-top: 4rem;
}